/* Runner and pronouns panel. */
#runner-container1 {
	width: 565px;
	height: 70px;
	line-height: 70px;
	left: 15px;
	top: 370px;
	
	padding-left: 10px;
	padding-right: 10px;
}

.comms-container {
	width: 565px;
	height: 66px;
	line-height: 66px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Commentator name and pronouns panel. */
.comms-pronouns {
	font-size: 18pt;
}

/* Comms 1 info position. */
#comms-container1 {
	left: 15px;
	top: 460px;
}

/* Comms 2 info position. */
#comms-container2 {
	left: 15px;
	top: 528px;
}

/* Game name panel. */
#game-name {
	width: 565px;
	height: 80px;
	line-height: 80px;
	left: 15px;
	top: 615px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Category panel. */
#info-container {
	width: 565px;
	height: 40px;
	line-height: 40px;
	left: 15px;
	top: 695px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Timer panel. */
#timer {
	width: 565px;
	height: 95px;
	line-height: 95px;
	left: 15px;
	top: 755px;
	font-size: 50pt;

	padding-left: 10px;
	padding-right: 10px;
}

/* Estimate panel. */
#estimate-container {
	position: absolute;
	left: 15px;
	top: 851px;
}

/* Sponsor panel. */
/* #sponsor-container {
	width: 585px;
	height: 300px;
	line-height: 300px;
	left: 0;
	top: 694px;
} */

/* Sponsor image max size. */
/* img#sponsor-img {
	max-width: 45%;
} */