/* Runner and pronouns panel. */
#runner-container1 {
	width: 585px;
	height: 70px;
	line-height: 70px;
	left: 114px;
	top: 385px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Runner name dynamic text. */
.runner-name {
	max-width: 500px;
}

.comms-container {
	width: 595px;
	height: 59px;
	line-height: 59px;
	
	padding-left: 5px;
	padding-right: 5px;
}

.comms-name {
	max-width: 400px;
}

/* Commentator name and pronouns panel. */
.comms-pronouns {
	font-size: 18pt;
}

/* Comms 1 info position. */
#comms-container1 {
	left: 114px;
	top: 756px;
}

/* Comms 2 info position. */
#comms-container2 {
	left: 114px;
	top: 817px;
}

/* Game name panel. */
#game-name {
	width: 585px;
	height: 80px;
	line-height: 80px;
	left: 114px;
	top: 615px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Category panel. */
#info-container {
	width: 585px;
	height: 40px;
	line-height: 40px;
	left: 114px;
	top: 694px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Timer panel. */
#timer {
	width: 585px;
	height: 80px;
	line-height: 80px;
	left: 114px;
	top: 475px;
	font-size: 50pt;

	padding-left: 10px;
	padding-right: 10px;
}

/* Estimate panel. */
#estimate-container {
	position: absolute;
	left: 114px;
	top: 558px;
}