/* Runner and pronouns panel. */
.runner-container {
	width: 603px;
    height: 78px;
    line-height: 78px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Runner name dynamic text. */
.runner-name {
	/* max-width: 435px; */
	font-size: 24pt;
}

.pronouns {
	font-size: 20px;
}

.runner-game {
	margin-right: 5px;
	margin-top: 15px;
	font-stretch: semi-condensed;
	float: left;
	vertical-align: middle;
}

/* Player 1 info position. */
#runner-container1 {
	left: 15px;
    top: 590px;
}

/* Player 2 info position. */
#runner-container2 {
	left: 653px;
    top: 317px;
}

/* Player 3 info position. */
#runner-container3 {
	left: 1292px;
	top: 590px;
}

.comms-container {
	width: 297px;
	height: 63px;
	line-height: 63px;
	
	padding-left: 5px;
	padding-right: 5px;
}

.comms-name {
	max-width: 220px;
}

/* Commentator name and pronouns panel. */
.comms-pronouns {
	font-size: 18pt;
}

/* Comms 1 info position. */
#comms-container1 {
	left: 653px;
	top: 162px;
}

/* Comms 2 info position. */
#comms-container2 {
	left: 960px;
	top: 162px;
}

/* Comms 3 info position. */
#comms-container3 {
	left: 653px;
	top: 227px;
}

/* Comms 4 info position. */
#comms-container4 {
	left: 960px;
	top: 227px;
}

/* Game name panel. */
#game-name {
	width: 594px;
	height: 88px;
	line-height: 88px;
	left: 15px;
	top: 840px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Category panel. */
#info-container {
	width: 594px;
	height: 42px;
	line-height: 42px;
	left: 15px;
	top: 928px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Timer panel. */
#timer {
	width: 614px;
	height: 88px;
	line-height: 88px;
	left: 1292px;
	top: 840px;

	font-size: 50pt;
}

/* Estimate panel. */
#estimate-container {
	position: absolute;
	left: 1292px;
	top: 930px;
}